In [0]:
# imports
import pandas as pd

In [0]:
data = pd.read_csv('https://raw.githubusercontent.com/dnrocha1/machine-learning-ufcg/master/cartola-pred/cartola_2014.csv')

In [3]:
data.head()

   atleta_id  rodada  clube_id  participou  posicao_id  ...  CV  SG  DD  DP  GS
0      37958       1     262.0           1         1.0  ...   0   1   1   0   0
1      68873       1     262.0           0         1.0  ...   0   0   0   0   0
2      37701       1     262.0           1         2.0  ...   0   1   0   0   0
3      71602       1     262.0           0         2.0  ...   0   0   0   0   0
4      37684       1     262.0           1         3.0  ...   0   1   0   0   0

[5 rows x 34 columns]